<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="collection">
        {% for song in songs %}
            <a href="{{ url_for('read_song', song_id=song.id) }}" class="collection-item #00897b teal-text darken-1">{{i}} {{ song.name }}</a>
        {% endfor %}
        </div>
</body>
</html>