<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ artist_info[1] }} - Artist Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .artist-container {
            margin-top: 20px;
        }
        .artist-image {
            width: 100%;
            height: auto;
        }
        .track-list {
            margin-top: 40px;
        }
        .track-item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <div class="container artist-container">
        <h1 class="teal-text">{{ artist_info[1] }}</h1>
        <div class="artist-image">
            <embed src="{{ artist_info[2] }}" type="image/jpeg">
        </div>
        <div class="collection track-list">
            <h5 class="teal-text">Top Tracks</h5>
            {% for artist_track in artist_tracks %}
            <a href="{{ url_for('read_track', track_id=artist_track[0]) }}" class="collection-item #00897b teal-text darken-1 track-item">
                {{ artist_track[1] }}
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
