<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <nav>
        <div class="nav-wrapper #00897b teal darken-1">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('read_artists')}}">Artists catalog</a></li>
          </ul>
        </div>
      </nav>
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center #00897b teal-text darken-1">Hi my friend, here you could see all songs, but thanks to Spotify you can take a certain number of songs, albums and artists(but deezer replace him ))))</h1>
          <div class="row center">
            <a href="{{ url_for('read_serch_page')}}" id="download-button" class="btn-large waves-effect waves-light teal">Search</a>
          </div>
          <br><br>
    
        </div>
      </div>
</body>
</html>
