<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search realise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      function search() {
          var query = document.getElementById("searchBox").value;
          window.location.href = "/results?search_query=" + encodeURIComponent(query);
      }
  </script>
    <div class="row">
        <div class="input-field col s6">
          <input id="searchBox" type="text" placeholder="" class="validate">
          <button onclick="search()">Search</button>
        </div>
      </div>
</body>
</html>